body{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(322, 100%, 66%)
}

h1, h1, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}

p{
 color: hsl(208, 11%, 55%)
}

.container{
    padding: 0 8%;
}

.container-fluid{
    padding: 0 5%;
}

.img{
    max-width: 100%;
    height: auto;
}

.footer{
    background-color: hsl(192, 100%, 9%);
    color: #ffffff;
    font-weight: 400;
}
